Repository jokokucing/Origami-Linux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

trigger-base-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend

trigger-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend

trigger-test-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend

[test] Add privileged mode and fix tags for live ISO build
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test] get 2xlarge runner & change image
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test] Enable TLS for DinD in live ISO job
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: remove privileged mode
  .gitlab-ci-test.yml
Due: trigger-test-image-build

ci: fix live-iso build by switching podman network backend
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: remove image build temporary and test new live iso build CI
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: live build CI updates
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: remove vfs driver
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: manually create ISO since it won't run in nested container
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: call individual component instead
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: this is getting old lol
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: build build build
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: meow meow
  .gitlab-ci-test.yml
Due: trigger-test-image-build

revert: revert to normal test image build
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test]: remove cd $HOME
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix script format for new bluebuild script module
  files/scripts/cleanup.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix typo in script
  files/scripts/cleanup.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

push build test
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

chore: added arch option to recipe
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix: add chunk latyers to test
  .gitlab-ci-test-cachy.yml
  .gitlab-ci-test-nvidia.yml
  .gitlab-ci-test.yml
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

BugFix: Default to Cosmic icons until cosmic fixes icon themes
  files/system/usr/share/cosmic/com.system76.CosmicTk/v1/icon_theme
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Removed unused script
  files/scripts/origami-iso.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

UI/UX:Added app menu in dock and workspace manager in panel
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Dock/v1/plugins_wings
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Panel/v1/plugins_wings
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

feat:add myanmar fonts
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

update: added helix
  files/system/etc/profile.d/origami-aliases.sh
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

test: remove test image chunk
  .gitlab-ci-test-cachy.yml
  .gitlab-ci-test-nvidia.yml
  .gitlab-ci-test.yml
Due: trigger-test-image-build

fix: move cachy kernel process first
  recipes/recipe-test-cachy.yml
Due: none

fix: moved cachy kernel to first step, so not to remove things like helix later
  recipes/recipe-base-cachy.yml
Due: none

update: change starship to gigawatt on bash profile
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

add htop alias
  files/system/etc/profile.d/origami-aliases.sh
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix: move app button to center of dock
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Dock/v1/plugins_center
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Dock/v1/plugins_wings
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

push
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

update: specify amd64/v2 for image builds
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-test-image-build

update: specify amd64/v2 for image builds
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
Due: trigger-base-image-build, trigger-nvidia-image-build

fix: revert amdv2 on images
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix: platform build
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

add arm image
  .gitlab-ci.yml
Due: none

add arm image
  .gitlab-ci-test-arm.yml
  recipes/recipe-test-arm.yml
Due: none

test arm build
  recipes/recipe-test-arm.yml
Due: none

test:arm64 image fix
  .gitlab-ci-test-arm64.yml
  .gitlab-ci.yml
  recipes/recipe-test-arm64.yml
Due: none

Path conditions:
  trigger-base-image-build: any of: recipes/recipe-base.yml, recipes/recipe-core.yml, .gitlab-ci-base.yml, files/**/*
  trigger-nvidia-image-build: any of: recipes/recipe-nvidia.yml, recipes/recipe-core.yml, .gitlab-ci-nvidia.yml, files/**/*
  trigger-test-image-build: any of: recipes/recipe-test.yml, recipes/recipe-core.yml, .gitlab-ci-test.yml, files/**/*
