Repository jokokucing/Origami-Linux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-base, trigger-nvidia, trigger-test

.gitlab-ci.yml:

stages:
  - triggers
default:
  interruptible: true
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: "$CI_COMMIT_BRANCH"
    - if: "$CI_COMMIT_TAG"
# --- Trigger Base Pipeline ---
trigger-base:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-base.yml
        #- "files/**/*" # <--- Triggers if ANY file in 'files/' changes
# --- Trigger Nvidia Pipeline ---
trigger-nvidia:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-nvidia.yml
        #- "files/**/*" # <--- Triggers if ANY file in 'files/' changes
# --- Trigger Test Pipeline ---
trigger-test:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - changes:
        - recipes/recipe-test.yml
        - recipes/recipe-core-test.yml
        - .gitlab-ci-test.yml
        #- "files/**/*" # <--- Triggers if ANY file in 'files/' changes

script
  files/scripts/cachy-kernel.sh
Due: none

push test
  recipes/recipe-test.yml
Due: trigger-test

cachyos test
  files/scripts/cachy-kernel.sh
Due: none

add uksmd
  files/scripts/cachy-kernel.sh
  recipes/recipe-core-test.yml
  recipes/recipe-test.yml
Due: trigger-test

added cachyos kernel
  .gitlab-ci.yml
  files/scripts/cachy-kernel.sh
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia, trigger-test

added maple mono font
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia.yml
  .gitlab-ci-test.yml
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia, trigger-test

change default mono font and default panel layout
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Panel/v1/plugins_center
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Panel/v1/plugins_wings
  files/system/usr/share/cosmic/com.system76.CosmicTerm/v1/font_name
  files/system/usr/share/cosmic/com.system76.CosmicTk/v1/monospace_font
Due: none

removed cachyos kernel from nvidia
  .gitlab-ci-test.yml
  recipes/recipe-base.yml
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
  recipes/recipe-test.yml
Due: trigger-base, trigger-nvidia, trigger-test

test font permission
  recipes/recipe-core-test.yml
Due: trigger-test

remove font script
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

added some cosmic magic
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Panel/v1/padding_overlap
Due: none

changed kernel to lto on main, and replaced tldr with tealdeer
  files/scripts/cachy-kernel.sh
  recipes/recipe-base.yml
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base, trigger-nvidia, trigger-test

enable adios schedular
  files/system/etc/udev/rules.d/60-ioschedulers.rules
Due: none

added cachyos kernel to nvidia
  files/scripts/cachy-kernel-nvidia.sh
  recipes/recipe-nvidia.yml
Due: trigger-nvidia

recipe nvidia kernel
  recipes/recipe-nvidia.yml
Due: trigger-nvidia

remove cachysos kernel nvidia
  files/scripts/cachy-kernel-nvidia.sh
  recipes/recipe-nvidia.yml
Due: trigger-nvidia

fixed typo in nvidia scripts
  recipes/recipe-nvidia.yml
Due: trigger-nvidia

push builds
  files/system/usr/share/.meow
Due: none

add micro replace nano alias
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia, trigger-test

fixed micro alias
  files/system/etc/profile.d/origami-aliases.sh
Due: none

fixed typo in micro alias
  files/system/etc/profile.d/origami-aliases.sh
Due: none

test push
  files/system/etc/profile.d/origami-aliases.sh
Due: none

add test build branch system
  .gitlab-ci.yml
  README.md
Due: none

test push
  files/system-test/etc/profile.d/origami-aliases.sh
Due: none

remove test files
  recipes/recipe-core-test.yml
  recipes/recipe-test.yml
Due: trigger-test

remove cachy test
  recipes/recipe-test.yml
Due: trigger-test

rename test branch
  .gitlab-ci.yml
Due: none

removed period from alias.
  files/system/etc/profile.d/origami-aliases.sh
Due: none

CHORE : remove micro
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

feat: add du-dust and procs binary
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

Feat: added lazygit
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

bug: remove quotes from files
  .gitlab-ci.yml
Due: none

add test comment
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

idk
  .gitlab-ci.yml
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

Update GitLab CI workflow rules and formatting
  .gitlab-ci.yml
Due: none

fix: correct the watched file for trigger-test
  .gitlab-ci.yml
Due: none
