Repository jokokucing/Origami-Linux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

trigger-base-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend

trigger-base-cachy-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base-cachy.yml
    strategy: depend

trigger-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend

trigger-test-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend

trigger-test-cachy-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test-cachy.yml
    strategy: depend

trigger-test-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test-nvidia.yml
    strategy: depend

Update: Add CachyOS Settings, scx-scheds, scx-tools
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

fix: add back --build-chunked-oci
  .gitlab-ci-nvidia-cachy.yml
Due: none

add: add adios io scheduler to cachy kernel
  files/scripts/adios-ioscheduler.sh
  recipes/base-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

update: enable podman flatpak support
  recipes/core.yml
Due: none

Update: zen browser a flatpak and can be removed
  files/system/usr/lib/systemd/system/flatpak-firstboot.service
  recipes/core.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

update: remove warp auto start
  files/scripts/cleanup.sh
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

Test: fedora signing
  modules/custom-kernel/custom-kernel.sh
  recipes/base.yml
  recipes/nvidia.yml
  recipes/test-nvidia.yml
  recipes/test.yml
Due: none

undo
  modules/custom-kernel/custom-kernel.sh
  recipes/base.yml
  recipes/nvidia.yml
  recipes/test-nvidia.yml
  recipes/test.yml
Due: none

add zen back with rpm
  files/system/usr/lib/systemd/system/flatpak-firstboot.service
  recipes/core.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

add zen back with rpm
  recipes/core.yml
Due: none

add: adios script
  recipes/nvidia-cachy.yml
  recipes/test-cachy.yml
Due: none

push build
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

update: custom-kernel
  modules/custom-kernel/custom-kernel.sh
Due: none

remove cachy tags
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-nvidia.yml
  .gitlab-ci-test-base.yml
  .gitlab-ci-test-cachy.yml
  .gitlab-ci-test-nvidia-cachy.yml
  .gitlab-ci-test-nvidia.yml
  .gitlab-ci.yml
  recipes/base-cachy.yml
  recipes/base.yml
  recipes/nvidia-cachy.yml
  recipes/nvidia.yml
  recipes/test-base.yml
  recipes/test-cachy.yml
  recipes/test-nvidia.yml
  recipes/test.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

fix ci names
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia.yml
  .gitlab-ci-test-base.yml
  .gitlab-ci-test-nvidia.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-nvidia-image-build

refactor recipe
  recipes/base.yml
  recipes/core.yml
  recipes/nvidia.yml
  recipes/test-base.yml
  recipes/test-nvidia.yml
Due: none

fix: remove --build-chunked-oci from nvidia build
  .gitlab-ci-nvidia.yml
Due: trigger-nvidia-image-build

remove --build-chunked-oci
  .gitlab-ci-nvidia.yml
Due: trigger-nvidia-image-build

remove --build-chunked-oci
  .gitlab-ci-base.yml
Due: trigger-base-image-build

update crane script
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-nvidia-image-build

update maple font link
  recipes/core.yml
Due: none

update: update pretty name
  recipes/base.yml
  recipes/nvidia.yml
  recipes/test-base.yml
  recipes/test-nvidia.yml
Due: none

fix: recipe name
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-nvidia-image-build

fix: rechunk_clear_plan: true
  .gitlab-ci-nvidia.yml
Due: trigger-nvidia-image-build

typo: --rechunk-clear-plan
  .gitlab-ci-nvidia.yml
Due: trigger-nvidia-image-build

push build
  .gitlab-ci-nvidia.yml
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

push
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

push test
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

temp fix push build
  .gitlab-ci-nvidia.yml
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

Path conditions:
  trigger-base-image-build: any of: recipes/recipe-base.yml, recipes/recipe-core.yml, .gitlab-ci-base.yml, files/**/*
  trigger-base-cachy-image-build: any of: recipes/recipe-base-cachy.yml, recipes/recipe-core.yml, .gitlab-ci-base-cachy.yml, files/**/*
  trigger-nvidia-image-build: any of: recipes/recipe-nvidia.yml, recipes/recipe-core.yml, .gitlab-ci-nvidia.yml, files/**/*
  trigger-test-image-build: any of: recipes/recipe-test.yml, recipes/recipe-core.yml, .gitlab-ci-test.yml, files/**/*
  trigger-test-cachy-image-build: any of: recipes/recipe-test-cachy.yml, recipes/recipe-core.yml, .gitlab-ci-test-cachy.yml, files/**/*
  trigger-test-nvidia-image-build: any of: recipes/recipe-test-nvidia.yml, recipes/recipe-core.yml, .gitlab-ci-test-nvidia.yml, files/**/*
