Repository jokokucing/Origami-Linux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

.gitlab-ci.yml:

stages:
  - triggers
default:
  interruptible: true
variables:
  TEST_PIPELINE_BRANCH: "test"
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: "$CI_COMMIT_BRANCH"
    - if: "$CI_COMMIT_TAG"

# --- Trigger Base Pipeline ---
trigger-base-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-base.yml
        - "files/**/*"

# --- Trigger Nvidia Pipeline ---
trigger-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-nvidia.yml
        - "files/**/*"

# --- Trigger Test Pipeline ---
trigger-test-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test.yml
        - "files/**/*"

rename build stage nvidia test image
  .gitlab-ci-test-nvidia.yml
Due: none

Update: add nvidia test image to readme
  README.md
Due: none

feat: Add printer and gaming device support packages
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

chore: remove `printer-driver-brlaser` and `hplip` as it is installed out of the box
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

feat: Enhance shell aliases with error handling and user migration tips
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Update: migrate iso builds to cdn77 - daily test builds - add cachy iso
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-common.yml
  .gitlab-ci.yml
Due: none

fix:added https to cdn url
  .gitlab-ci-common.yml
Due: none

push build
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

feat: add Oru
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Update maple font
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Test:build images
  files/scripts/.meow
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

use main version of bluebuild
  files/scripts/.meow
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Test: Push build
  files/system/usr/share/.meow
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test-cachy.yml
  recipes/recipe-test-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

feat: add origami update applet
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

ignore: test build
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Update: Remove Background update service, added update panel to default install
  files/system/usr/lib/systemd/user/origami-updates.service
  files/system/usr/lib/systemd/user/origami-updates.timer
  files/system/usr/share/cosmic/com.system76.CosmicPanel.Panel/v1/plugins_wings
  recipes/recipe-core.yml
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

ignore: push test build
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

Test:Use Titanboa iso build tool
  .gitlab-ci-test-cachy.yml
  files/scripts/origami-iso.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix:remove tags in iso test
  .gitlab-ci-test-cachy.yml
Due: none

update iso recip
  .gitlab-ci-test-cachy.yml
Due: none

test: update iso script
  .gitlab-ci-test-cachy.yml
Due: none

update
  .gitlab-ci-test-cachy.yml
Due: none

try again iso
  .gitlab-ci-test-cachy.yml
Due: none

fix: fish slow startup
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

test: update titanboa build ci
  .gitlab-ci-test-cachy.yml
Due: none

fix: add which to iso builder
  .gitlab-ci-test-cachy.yml
Due: none

test: update anaconda builder
  .gitlab-ci-test-cachy.yml
Due: none

updated iso test
  .gitlab-ci-test-cachy.yml
Due: none

giving up: on live iso
  .gitlab-ci-test-cachy.yml
Due: none

refactor: remove binary check since it is always exist
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

fix sudo alias bug
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

better nag alias fix
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

[test] Add live ISO build job for test variant using Titanoboa
  .gitlab-ci-test.yml
Due: trigger-test-image-build

feat: pick a large runner
  .gitlab-ci-test.yml
Due: trigger-test-image-build

fixed bash alias file
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

[test] Fix live ISO build job: update image tag, remove workdir var, adjust versions
  .gitlab-ci-test.yml
Due: trigger-test-image-build

[test] ci updates
  .gitlab-ci-test.yml
Due: trigger-test-image-build

sync: make bash alias feature sync with fish alias file
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base-image-build, trigger-nvidia-image-build, trigger-test-image-build

[test] Correct privileged placement in live ISO job
  .gitlab-ci-test.yml
Due: trigger-test-image-build
