Repository jokokucing/Origami-Linux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

.gitlab-ci.yml:

stages:
  - triggers
default:
  interruptible: true
variables:
  TEST_PIPELINE_BRANCH: "test"
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: "$CI_COMMIT_BRANCH"
    - if: "$CI_COMMIT_TAG"

# --- Trigger Base Pipeline ---
trigger-base-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-base.yml
        - "files/**/*"

# --- Trigger Base Cachy Pipeline ---
trigger-base-cachy-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base-cachy.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base-cachy.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-base-cachy.yml
        - "files/**/*"

# --- Trigger Nvidia Pipeline ---
trigger-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-nvidia.yml
        - "files/**/*"

# --- Trigger Test Pipeline ---
trigger-test-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test.yml
        - "files/**/*"

# --- Trigger Test Cachy Pipeline ---
trigger-test-cachy-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test-cachy.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test-cachy.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test-cachy.yml
        - "files/**/*"

# --- Trigger Test Nvidia Pipeline ---
trigger-test-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test-nvidia.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test-nvidia.yml
        - "files/**/*"

module: added nvidia support
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
Due: none

update: add cachy-nvidia image
  .gitlab-ci-test-cachy-nvidia.yml
  .gitlab-ci.yml
  recipes/test-cachy-nvidia.yml
Due: none

push build
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

module: add rpm-ostree kargs
  modules/custom-kernel/custom-kernel.sh
Due: none

Update: Add Official Cachuos Kernel + Nvidia image
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-test-cachy-nvidia.yml
  .gitlab-ci.yml
  recipes/base-cachy.yml
  recipes/base.yml
  recipes/nvidia-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

fix: rename ci file for nvidia cachy test
  .gitlab-ci-test-nvidia-cachy.yml
Due: none

remove: --build-chunked-oci from images
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build

Chore: add back --build-chunked-oci
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build

CI: cdn purge after iso upload
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build

Update: Custom Kernel Module for signing
  .gitignore
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
Due: none

test: image signing
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

update mok.key location
  .gitlab-ci-common.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

change cert path
  .gitlab-ci-common.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

update: cert location
  .gitlab-ci-common.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

update: add kernel signing to main images
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
Due: none

removed starship
  files/system/etc/profile.d/origami-aliases.sh
  recipes/core.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

update: add gnome disk utility
  recipes/core.yml
Due: none

default: show terminal header
  files/system/usr/share/cosmic/com.system76.CosmicTerm/v1/show_headerbar
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

remove signing
  .gitlab-ci-common.yml
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

test: build
  recipes/test-cachy.yml
Due: none

add signing key
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

rename ci flows
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-test-cachy.yml
  .gitlab-ci-test-nvidia-cachy.yml
Due: trigger-base-cachy-image-build, trigger-test-cachy-image-build

push builds
  files/system/usr/share/.meow
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

module: fix selinux error
  modules/custom-kernel/custom-kernel.sh
Due: none

Update: Update custom-kernel module
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

add SHA256 to iso
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build

Update custom-kernel module
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: none

remove axel
  recipes/core.yml
Due: none

update custom kernel module
  modules/custom-kernel/custom-kernel.sh
Due: none

update kernel module
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
Due: none

update custom-kernel module
  .gitignore
  files/system/usr/share/cert/MOK.pem
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
  recipes/base-cachy.yml
  recipes/nvidia-cachy.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

update key
  files/system/usr/share/cert/MOK.pem
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

move files to top
  recipes/base-cachy.yml
  recipes/base.yml
  recipes/core.yml
  recipes/nvidia-cachy.yml
  recipes/nvidia.yml
  recipes/test-cachy.yml
  recipes/test-nvidia-cachy.yml
  recipes/test-nvidia.yml
  recipes/test.yml
Due: none

Update: add settings for shadow and no bolume amp
  files/system/usr/share/cosmic/com.system76.CosmicAudio/v1/amplification_sink
  files/system/usr/share/cosmic/com.system76.CosmicComp/v1/appearance_settings
  files/system/usr/share/cosmic/com.system76.CosmicComp/v1/input_default
  files/system/usr/share/cosmic/com.system76.CosmicComp/v1/input_touchpad
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build, trigger-test-image-build, trigger-test-cachy-image-build, trigger-test-nvidia-image-build

update custom-kernel module
  modules/custom-kernel/custom-kernel.sh
  modules/custom-kernel/module.yml
Due: none

add MOK.der
  MOK.der
Due: none

debug: nvidia-cachy container registry
  .gitlab-ci-nvidia-cachy.yml
Due: none

Update: Added Origami SecureBoot key
  .gitlab-ci-base-cachy.yml
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia-cachy.yml
  .gitlab-ci-nvidia.yml
Due: trigger-base-image-build, trigger-base-cachy-image-build, trigger-nvidia-image-build
