Repository jokokucing/Origami-Linux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-base, trigger-nvidia, trigger-test

trigger-base:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend

trigger-nvidia:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend

trigger-test:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend

added micro text editor
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

Meow: update readme to match new test branch
  README.md
Due: none

Bugfix: added alt-tags to force buidls to use latest
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base, trigger-nvidia, trigger-test

remove alt tag
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: trigger-base, trigger-nvidia, trigger-test

test: add tag "test" to origami-test image
  recipes/recipe-test.yml
Due: trigger-test

test: reverse "test" tag
  recipes/recipe-test.yml
Due: trigger-test

test: add base tag to origamni-base image
  recipes/recipe-base.yml
Due: trigger-base

test: add nvidia tag to origami-nvidia
  recipes/recipe-nvidia.yml
Due: trigger-nvidia

test: remove tags from base and nvidia
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
Due: trigger-base, trigger-nvidia

update readme with brancg name image container
  README.md
Due: none

FEAT: Replaced bluebuilds update system with topgrade
  files/system/usr/lib/systemd/user/origami-updates.service
  files/system/usr/lib/systemd/user/origami-updates.timer
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

FEAT: add fold and unfold alias, cleanup alias file
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base, trigger-nvidia

fix alias
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base, trigger-nvidia

add no retry to update service
  files/system/usr/lib/systemd/user/origami-updates.service
Due: trigger-base, trigger-nvidia

fix origami alias
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base, trigger-nvidia

feat: port origami aliases for fish shell
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

Cleanup: Cleaned up alias file for SH
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base, trigger-nvidia

Update: added nags for micro, lazygit, procs, and dust with emoji support to nags
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base, trigger-nvidia

Meow: Tmux runs tmux and nags byobu and zellig
  files/system/etc/profile.d/origami-aliases.sh
Due: trigger-base, trigger-nvidia

feat: restructure and update fish shell aliases
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

Test: remove `blue-build-tag: main` from test recipe
  recipes/recipe-test.yml
Due: trigger-test

fix: Fix argv expansion and convert tmux alias
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

fix: nag messages for fish shell commands
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

chore: Rename CI job names to clarify image builds
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia.yml
  .gitlab-ci-test.yml
  .gitlab-ci.yml
Due: trigger-base, trigger-nvidia, trigger-test

Update: moved cachyos kernel to its own tag
  .gitlab-ci-test-cachy.yml
  .gitlab-ci.yml
  recipes/recipe-test-cachy.yml
Due: none

update: ci test name
  .gitlab-ci-test-cachy.yml
Due: none

added cachy to recipe name
  recipes/recipe-test-cachy.yml
Due: none

use alt tage on test image cachy
  recipes/recipe-test-cachy.yml
Due: none

push test image
  recipes/recipe-test.yml
Due: trigger-test

push test images
  recipes/recipe-test-cachy.yml
  recipes/recipe-test.yml
Due: trigger-test

Update: remove cachy kernel fro mbase image, added cachy tag
  .gitlab-ci-base-cachy.yml
  recipes/recipe-base-cachy.yml
Due: none

Update: add main cachy pipeline
  .gitlab-ci.yml
Due: none

push: push main builds
  recipes/recipe-base-cachy.yml
  recipes/recipe-base.yml
Due: trigger-base

added cachy test to readme
  README.md
Due: none

remove origami wrapper alias
  files/system/etc/profile.d/origami-aliases.sh
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

added fish package
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

test sync
  README.md
  files/system/etc/profile.d/origami-aliases.sh
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
  recipes/recipe-core.yml
Due: trigger-base, trigger-nvidia

fix: avoid fish tips during tab completion
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

fix: fix nagging behavior in interactive shell
  files/system/usr/etc/fish/conf.d/origami-aliases.fish
Due: trigger-base, trigger-nvidia

add nvidia test build
  .gitlab-ci-test-nvidia.yml
  .gitlab-ci.yml
  recipes/recipe-test-nvidia.yml
Due: none

Path conditions:
  trigger-base: any of: recipes/recipe-base.yml, recipes/recipe-core.yml, files/scripts/cachy-kernel.sh, files/scripts/cleanup.sh, files/scripts/install-theme.sh, .gitlab-ci-base.yml, files/system/**/*
  trigger-nvidia: any of: recipes/recipe-nvidia.yml, recipes/recipe-core.yml, .gitlab-ci-nvidia.yml, files/scripts/cachy-kernel.sh, files/scripts/cleanup.sh, files/scripts/install-theme.sh, files/system/**/*
  trigger-test: any of: recipes/recipe-test.yml, recipes/recipe-core-test.yml, .gitlab-ci-test.yml, files/scripts/cachy-kerne-test.sh, files/scripts/cleanup-test.sh, files/scripts/install-theme-test.sh, files/system-test/**/*
